h1 {
    font-size: 32px;
    font-family: monospace;
    text-align: center;
    background-color: aqua;
}

img {
    float: right;
}

p {
    font-size: 16px;
    color: crimson;
    font-family: cursive;
    font-weight: 300;
}

divLeft {
    height: 300px;
    width: 48%;
    background-color: chartreuse;
    float: left;
}